# Create Seperate CSVs Per Region

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('../data/est_hourly.paruqet')

In [15]:
for col in df.columns:
    df[[col]] \
        .dropna() \
        .rename(columns={col: '{}_MW'.format(col)}) \
        .to_csv('../data/{}_hourly.csv'.format(col))

In [17]:
pd.read_csv('../data/AEP_hourly.csv').head()

              Datetime   AEP_MW
0  2004-12-31 01:00:00  13478.0
1  2004-12-31 02:00:00  12865.0
2  2004-12-31 03:00:00  12577.0
3  2004-12-31 04:00:00  12517.0
4  2004-12-31 05:00:00  12670.0